body {
  margin: 0;
  background: white;
  color: black;
}

.navbar {
  background: rgb(125 83 246);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.navbar button {
  background: white;
  color: #4b7bec;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: black;
  color: rgb(239, 238, 238);
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f7f9fc;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

li.done {
  text-decoration: line-through;
}

.empty {
  text-align: center;
  color: #131212;
}

.login-page {
  text-align: center;
  margin-top: 100px;
}

.login-page input {
  margin-top: 20px;
  width: 250px;
  padding: 10px;
}

.nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: larger;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 600;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
}
